In [1]:
import pandas as pd
import glob

In [2]:
crime_2001 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2001.csv')

In [3]:
crime_2002 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2002.csv')

In [4]:
crime_2003 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2003.csv')

In [5]:
crime_2004= pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2004.csv')

In [6]:
crime_2005 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2004.csv')

In [7]:
crime_2006 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2006.csv')

In [8]:
crime_2007 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2007.csv')

In [9]:
crime_2008 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2008.csv')

In [10]:
crime_2009 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2009.csv')

In [11]:
crime_2010 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2010.csv')

In [12]:
crime_2011 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2011.csv')

In [13]:
crime_2012 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2012.csv')

In [14]:
crime_2013 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2013.csv')

In [15]:
crime_2014 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2014.csv')

In [16]:
crime_2015 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2015.csv')

In [17]:
crime_2016= pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2016.csv')

In [18]:
crime_2017 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2017.csv')

In [19]:
crime_2018 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2018.csv')

In [20]:
crime_2019 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2019.csv')

In [21]:
crime_2020 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2020.csv')

In [22]:
crime_2021 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2021.csv')

In [23]:
crime_2022 = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/chicago_crime/Data/Chicago-Crime_2022.csv')

In [24]:
all_years = [crime_2001, crime_2002, crime_2003, crime_2004, 
             crime_2005, crime_2006, crime_2007, crime_2008, 
             crime_2009, crime_2010, crime_2011, crime_2012,
             crime_2013, crime_2014, crime_2015, crime_2016,
             crime_2017, crime_2018, crime_2019, crime_2020,
             crime_2021, crime_2022]

In [25]:
all_years = pd.concat(all_years)
all_years

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1326041,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
1,1319931,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2,1324743,01/01/2001 01:00:00 PM,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
3,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
4,1318099,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020
...,...,...,...,...,...,...,...,...,...,...,...,...
238853,12938029,12/31/2022 12:50:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,1014,10.0,24.0,41.855911,-87.719966
238854,12937822,12/31/2022 12:50:00 PM,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,False,True,733,7.0,6.0,41.766546,-87.645669
238855,12937583,12/31/2022 12:52:00 AM,BATTERY,SIMPLE,BARBERSHOP,False,False,1135,11.0,28.0,41.868829,-87.686098
238856,12938420,12/31/2022 12:52:00 PM,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,1432,14.0,32.0,41.930693,-87.685657
238857,12939906,12/31/2022 12:59:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1511,15.0,29.0,NaN,NaN

In [28]:
all_years['Date'] = pd.to_datetime(all_years['Date'], format = '%m%d%Y')

In [33]:
all_years = all_years.set_index(['Date'])
all_years

,ID,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
Date,,,,,,,,,,,
2001-01-01 01:00:00,1326041,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
2001-01-01 13:00:00,1319931,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2001-01-01 13:00:00,1324743,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
2001-01-01 01:00:00,1310717,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
2001-01-01 01:00:00,1318099,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 12:50:00,12938029,ASSAULT,SIMPLE,APARTMENT,False,False,1014,10.0,24.0,41.855911,-87.719966
2022-12-31 12:50:00,12937822,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,False,True,733,7.0,6.0,41.766546,-87.645669
2022-12-31 00:52:00,12937583,BATTERY,SIMPLE,BARBERSHOP,False,False,1135,11.0,28.0,41.868829,-87.686098
2022-12-31 12:52:00,12938420,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,1432,14.0,32.0,41.930693,-87.685657
2022-12-31 12:59:00,12939906,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1511,15.0,29.0,NaN,NaN